body {
	margin : 0;
	padding: 0;
	-webkit-app-region: drag;
}

body * {
	-webkit-app-region: no-drag;
}

.CodeMirror {
	height: 100% !important;
}

#main_container {
	position: absolute;
	top: 80px;
	/* height: 80%; */
	width: 100%;
	border-top: 1px solid #2e2f2a;
}

.visible {
	display: block !important;
}

.invisible {
	display: none !important;
}

#tabs {
	position: absolute;
	height: 80px;
	width: 50%;
	background-color: white;
}

#upper_console {
	position: absolute;
	height: 80px;
	width: 50%;
	left: 50%;
}

.editor {
	padding-top: 20px;
}

.errorLine {
	background-color: #622724;
	text-align: right;
}

.toolbar {
	position: fixed;
	height:	40px;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 999;
}

.toolbar.MacOS div {
	height: 10px;
	width: 10px;
	margin: 5px;
	border-radius: 100%;
	background: white;
	position: relative;
	float: left;
}

.toolbar.MacOS div#exit {
	background-color: #D74243;
	margin-left: 10px;
}

.toolbar.MacOS div#exit:hover {
	background-color: #A1151A;
}

.toolbar.MacOS div#enlarge {
	background-color: #0EBF55;
}

.toolbar.MacOS div#enlarge:hover {
	background-color: #007322;
}

.toolbar.MacOS div#reduce {
	background-color: #FABB51;
}

.toolbar.MacOS div#reduce:hover {
	background-color: #BC782A;
}

#tabs ul {
	margin:0;
	padding: 0;
	top: 31px;
	position: relative;
	height: 49px;
}

#tabs ul li {
	display: inline;
}

#tabs ul li.tab {
	list-style: none;
	background-color: #272822;
	height: 30px;
	position: relative;
	width: 100px;
	text-align: center;
	display: inline;
	padding: 8px;
	padding-left: 20px;
	padding-right: 20px;

/*
	border-bottom: 30px solid #fff;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-radius:2px;
	height: 30px;
	width: 100px;
	color:white;
	text-align:center;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px;
	font-style: italic;

	display: inline;
	margin: 0;

*/
	/* border-bottom: 50px solid white; */  
	/* border-left: 30px solid transparent; */  
	/* border-right: 30px solid transparent; */  
	/* height: 0; */  
	/* width: 100px; */
	top: 26px;
	margin-left: 5px;
	/* margin-right: 2px; */
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

#tabs ul li#add_tab {
	min-height: 30px;
	width: 30px;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 4px;
	background-color: #272822;
	color: white;
	margin-top: 20px;
	margin-left: 6px;
	border: 1px solid #2e2f2a;
	position: relative;
	top: 25px;
}

#tabs ul li span {
	position: relative;
	/* top: 20px; */
}

.editor {
	position:absolute;
	height:100%;
	width: 50%
;
	border-right: 1px solid #2e2f2a;
}

#messages {
	position: fixed;
	z-index: 9999;
	max-width: 200px;
	width:auto;
	color: white;
	left: 85%;
	overflow: auto;
	max-height: 70%;
}

#messages li {
	list-style: none;
	padding: 8px;
	font-family: monospace;
	width: 120px;
	font-size: 11px;
	margin-top: 2px;
}

#messages li.err {
	background-color: #e74c3c;
}

#messages li.info {
	background-color: ##3498db;
}

#messages li.log {
	background-color: ##2ecc71;
}

#messages li.warn {
	background-color: ##f39c12;
}

#errorAlert {
	display: none;
	z-index: 9999;
	position: absolute;
	left: 95%;
	font-size: 24px;
	margin: 10px;
	color: red;
	top: 93%;
}

#coffee_compiler {
	position: absolute;
border: 1px solid #555;
padding: 8px;
left: 41%;
border-radius: 4px;
}

#result {
	position:absolute;
	height:100%;
	width:50%;
	left: 50%;
	overflow: auto;
	margin-left: 1px;
}

#result * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#result li {
	list-style: none;
	margin-bottom: 10px;
	/* position: relative; */
	clear: both;
}

.string{
	color: rgb(133,133,255);
}

.object_root {
	padding-left: 0;
	color: rgb(33, 189, 16);
	margin-bottom: 20px;
	padding-bottom: 20px;
	border: 1px solid white;
}

.object_root i {
	font-family: monospace;
}

.object_root i:before {
	top: 2px;
	position: relative;
	margin-right: 5px;
	font-family: "FontAwesome";
}
/*
.object_root:before {
	font:normal normal normal 14px/1 FontAwesome;;
	content: "\f0da";
	margin-right: 5px;
	top: 1px;
	position: relative;
}
*/
.object_root .object_prop {
	color:yellow;
	margin-left:20px;
	margin-bottom: 20px;
}

.object_prop {
	color: green;
	display: none;
}

.object_prop span#key {
    height: 100%;

    /* position: relative; */
    float: left;
    clear: both;
    color: greenyellow;
}

.object_prop span#value {
	margin-right: 20px;
	margin-left: 100PX;
	float: right;
	TEXT-ALIGN: justify;
	/* position: relative; */
	color: cadetblue;
}