.monokai {
	background: #272822;
	color: #f8f8f2;
	font-family: monospace;
}

#tabs ul li.tab.inactive {
	border-bottom: 30px solid #3a3a38;
	color:#898c88;
}

#tabs ul li.tab.active {
	border-bottom: 30px solid #272822;
	color:white;
}

#tabs, #upper_console {
	background-color: #1B221E;
}